body{
    background-color: #333333;
    color: #aaaaaa;
}

.closeButton{
    padding: 10px 20px;
    border: solid 1px #aaaaaa;
}

#side-wrapper{
    height: 99%;
    position: absolute;
    top: 0;
    right: 5px;
    width: 13%;
    font-size: 70%;
    border: solid 1px #aaaaaa;
    overflow: hidden;
}

#instruments-wrapper{
    width: 15%;
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 70%;
    height: 98%;
    overflow: scroll;
    border: solid 1px #aaaaaa;
}

#instruments-wrapper::-webkit-scrollbar{
    width: 5px;
    height: 0;
}

#instruments-wrapper::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: 0 0 4px #aaa inset;
}

#insturments-wrapper::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: #1959A8;
    
}

.title{
    margin: 3px 0;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 2px #aaaaaa;
}

#orderBook-table{
    border-collapse: collapse;
    width: 100%;
}

.orderBooks{
    border-bottom: solid 1px #aaaaaa;
}

.mid{
    color: lightgreen;
    font-size: xx-small;
}

#spread{
    text-align: right;
}

.bidQty{
    text-align: right;
}

.askQty{
    text-align: right;
}

#chart{
    position: absolute;
    top: 0;
    right: 14%;
    width: 70%;
    max-width: 85%;
    border: 1px solid #aaaaaa;
    height: 99%;
}

#historyTable{
    width: 100%;
}

.tradedTime{
    text-align: right;
}

.bids{
    color: lightskyblue;
}

.asks{
    color: salmon;
}